:root {
  font-family: 'Poppins', sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}

.roboto {
  font-family: 'Roboto';
}
.regular {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.semibold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 35px;
  position: relative;
  width: 100%;
  height: 100dvh;
}
.welcome-input {
  width: 365px;
  height: 46px;
  border: 1px solid #d1d1d1;
  padding: 10px 14px;
  font-size: 18px;
  outline-color: #e1b21c;
}

@media screen and (max-width: 992px) {
  .welcome-logo {
    max-width: 75vw;
    min-width: 280px;
  }
  .welcome-input {
    height: 42px;
    max-width: 72vw;
  }
}
/* @media (prefers-color-scheme: dark) {
  :root {
    background-color: #333;
    color: #d1d1d1
  }
} */
